.playerDisplay {
  display: grid;
  grid: repeat(2, auto) / repeat(12, 1fr);
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.teamImage {
  width: 70%;
  padding: 30px 0 10px;
}

.player {
  display: grid;
  grid: repeat(2, auto) / repeat(14, 1fr);
  margin: 5px 35px 10px 10px;
}

.baseBadge {
  grid-column: span 1;
}

.baseBadgeImage {
  vertical-align: middle;
  width: 24px;
  margin: -1px 0 1px;
}

.playerName {
  grid-column: span 11;
  text-align: left;
  vertical-align: middle;
}

.playerScore {
  grid-column: span 2;
  text-align: right;
  vertical-align: middle;
}

.teamScore {
  grid-column: span 14;
  text-align: right;
  vertical-align: middle;
}

.redTeam {
  grid-column: span 6;
  margin: 10px;
  background-color: black;
  outline: red solid 3px;
  border-radius: 10px;
}

.greenTeam {
  grid-column: span 6;
  margin: 10px;
  background-color: black;
  outline: #0F0 solid 3px;
  border-radius: 10px;
}